name: CI

on:
  push:
    branches: ["**"]
    paths-ignore: ["README.md", "CHANGELOG.md"]
  pull_request:
    branches: ["**"]
    paths-ignore: ["README.md", "CHANGELOG.md"]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-D warnings"

jobs:
  test:
    name: Test on Rust stable
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # 32-bit big-endian target
          - target: powerpc-unknown-linux-gnu
            deps: sudo apt update && sudo apt install gcc-multilib

          # 64-bit target
          - target: x86_64-unknown-linux-gnu
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      # Use the modern stable Rust, not the MSRV in rust-toolchain.toml
      - run: rustup override set stable && cargo update
      - run: cargo --version
      - run: cargo test --all-features

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      # Use the modern stable Rust, not the MSRV in rust-toolchain.toml
      - run: rustup override set stable && cargo update
      - run: cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      # Use the modern stable Rust, not the MSRV in rust-toolchain.toml
      - run: rustup override set stable && cargo update
      - run: cargo clippy --all-features -- -D warnings

  # Test no_std build-only
  build-nostd:
    name: Build on no_std target (thumbv7em-none-eabi)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: thumbv7em-none-eabi
      - uses: taiki-e/install-action@cargo-hack
      # Use the modern stable Rust, not the MSRV in rust-toolchain.toml
      - run: rustup override set stable && cargo update
      # No default features build
      - name: no_std / no feat
        run: cargo build --target thumbv7em-none-eabi --release --no-default-features
      - name: no_std / cargo hack
        run: cargo hack build --target thumbv7em-none-eabi --release --each-feature --exclude-features default,std

  msrv:
    name: rust-version is MSRV
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo +nightly install cargo-msrv --no-default-features
      - run: cargo +nightly msrv --version
      - run: cargo +nightly msrv verify
